    @font-face {
        font-family:'fonte';
        src: url('../font/Insanibu.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family:'fonte', Times, serif;
    }

    .nav-menu-principal {
        background-color: #292929;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        padding: 0 10px;
    }

    .logo-principal {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 20px;
    }

    #img-logo-menu {
        width: 55.22px;
        height: 51.05px;
    }

    #title-principal-amarelo {
        color: #F8AF35;
    }

    .items-menu a {
        padding: 0 20px;
        color: #fff;
        font-size: 20px;
        text-decoration: none;
    }

    #botao-menu-principal {
        background-color: #F8AF35;
        width: 200px;
        height: 40px;
        border-radius: 10px;
        padding: 0 20px;
    }

    .inicio-pagina {
        background-color: #000000;
        height: 700px;
        width: 100%;
        display: flex;
        background-image: url(https://s3-alpha-sig.figma.com/img/c7e6/194b/489bb3a2fa41d40c4e9f3b85fcafe9e2?Expires=1711929600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=C6YSmbN6vqQtb9FNziOg2oqVdD4xDsudIdWYtEhTNQNq3DsJntf0OkbCJ-Vndoa3Xej~~bQ~fdqY2ZSSyjB3vDFVpVZBt2nf5F51ch0JvmQ6o5D~u~nOo5CyI3rqOP~N2OC4CYZgtMFXIGuPp0NYzJt8IS5tZ8YkCaV1d9AgG1mI5hZkfOFOU3feP0E10u9027mgTIwVmF7LXKkWYT-yckmpaYxqFo9nF7HoUOIT8g~94kLfqfTFQVkC-Jsj810UfhpREo59CYTiUeIroiOF1pZpinT5rSwR1XQwU1Dt8BpNbar-oTakh7N17UOcxO0VYQjbnWfOeoKRn50cdmKVTg__);
        background-position: -300%;
        background-repeat: no-repeat;
        background-size: 110%;
    }

    .texto-inicio-pagina {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        position: absolute;
        height: 80%;
        width: 43%;
    }

    .container-texto-inicio h1, h3, .linha-amarela-inicio {
        margin: 10px 0;
    }

    .container-texto-inicio {
        padding: 20px;
        width: fit-content;
        h1 {
            font-size: 40px;
        }
        .linha-amarela-inicio {
            background-color: #F8AF35;
            height: 5px;
        }
        h3 {
            font-size: 20px;
        }
        span {
            color: #F8AF35;
        }
    }
