    @font-face {
        font-family:'fonte';
        src: url('../font/Insanibu.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family:'fonte', Times, serif;
    }

    .nav-menu-principal {
        background-color: #292929;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        padding: 0 10px;
    }

    .logo-principal {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 20px;
    }

    #img-logo-menu {
        width: 55.22px;
        height: 51.05px;
    }

    #title-principal-amarelo {
        color: #F8AF35;
    }

    .items-menu a {
        padding: 0 20px;
        color: #fff;
        font-size: 20px;
        text-decoration: none;
    }

    #botao-menu-principal {
        background-color: #F8AF35;
        width: 200px;
        height: 40px;
        border-radius: 10px;
        padding: 0 20px;
    }

    .inicio-pagina {
        background-color: #000000;
        height: 90vh;
        width: 100%;
        display: flex;
        background-image: url(../images/png/hamburguer_photos\ 1.png);
        background-position: 100%;
        background-repeat: no-repeat;
        background-size: 60%;
    }

    .texto-inicio-pagina {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        position: absolute;
        height: 80%;
        width: 43%;
    }

    .container-texto-inicio h1, h3, .linha-amarela-inicio {
        margin: 10px 0;
    }

    .container-texto-inicio {
        padding: 20px;
        width: fit-content;
        h1 {
            font-size: 40px;
        }
        .linha-amarela-inicio {
            background-color: #F8AF35;
            height: 5px;
        }
        h3 {
            font-size: 20px;
        }
        span {
            color: #F8AF35;
        }
    }

    .grid-cardapio {
        display: grid;
        justify-content: center;
        place-items: center;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        padding: 40px 0;
    }

    .box{
        background-color: #F8AF35;
        width: 500px;
        height: fit-content;
        padding: 20px ;
        color: #fff;
        display: grid;
        place-items: end;
        text-align: end;
        border-radius: 20px;
        li {
            list-style: none;
        }
        h1 {
            color: #F8AF35;
        }
    }

    .um {
        background-image: url(../images/png/lancheUM.png);
        background-position: right;
        background-size: 500px;
        background-repeat: no-repeat;
    }

    .dois {
        background-image: url(../images/png/lancheDOIS.png);
        background-position: right;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .tres {
        background-image: url(../images/png/lancheTRES.png);
        background-position: right;
        background-size: 500px;
        background-repeat: no-repeat;
    }

    .quatro {
        background-image: url(../images/png/lancheQUATRO.png);
        background-position: right;
        background-size: 500px;
        background-repeat: no-repeat;
    }

    .preco-cardapio {
        background-color: #F8AF35;
        text-align: center;
        color: #fff;
        padding: 0 10px;
        border-radius: 10px;
        margin-top: 10px;
    }

    .texto-cardapio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .bebidas-principais {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 100vh;
    }

    .txt-bebida {
        h1{
            font-size: 70px;
        }

        p{
            font-size: 20px;
        }
    }

    .bebidas-grid {
        display: grid;
        margin-top: 70px;
        justify-content: center;
        place-items: center;
        width: 60%;
        grid-template-columns: 1fr ;
        gap: 30px;
        border: 3px solid #000000;
        border-radius: 44px;
        padding: 40px 100px;
    }

    .box-bebidas {
        display: flex;
        width: 100%;
        justify-content: space-between;
        text-align: left;
        border-bottom: 1px solid #000000;
        

        h1 {
            color: #F8AF35;
        }
    }

    